{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test task</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="{% static 'index/slick/slick.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'index/slick/slick-theme.css' %}" />

  <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox-plus-jquery.min.js"></script>

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
  <header>
    <div class="flex_container flex_header">
      <div class="flex_logo">
        <div class="hamburger" onclick="toggleMenu()">&#9776;</div>

        <div class="logo" id="logo">
          <img src="{% static 'index/header/logo.png' %}" alt="">
        </div>
      </div>

      <div class="flex_container header_menu mobile-menu" id="mobile-menu-links">
        <a href="#section1">ПРЕИМУЩЕСТВА</a>
        <a href="#section2">ФОТОГРАФИИ</a>
      </div>

      <div>
        <button>
          <div class="button_title">ВХОД</div>
        </button>
      </div>
    </div>
  </header>

  <section id="section1">
    <div class="section_one section_one_flex">
      <div class="section_one_text_block">
        <h1>Космическое агентство</h1>
        <p>
          Национальное управление по аэронавтике и исследованию космического
          пространства — ведомство, относящееся к федеральному правительству
          США и подчиняющееся непосредственно президенту США.
        </p>
      </div>

      <div class="section_one_image_block flex_container">
        <div class="section_one_advantages_container gap_20">
          <div class="flex_container gap_20">
            <div class="advantages_wrap_cont">
              <img src="{% static 'index/section_one/icon_1.png' %}" alt="" width="64">
              <h3 class="advantages_wrap_wrap_text">Спейс шаттлы — пилотируемые корабли</h3>
            </div>

            <div class="advantages_wrap_cont">
              <img src="{% static 'index/section_one/icon_2.png' %}" alt="" width="64">
              <h3 class="advantages_wrap_wrap_text">Лучшее телескопическое оборудование</h3>
            </div>
          </div>

          <div class="flex_container gap_20">
            <div class="advantages_wrap_cont">
              <img src="{% static 'index/section_one/icon_3.png' %}" alt="" width="64">
              <h3 class="advantages_wrap_wrap_text">Целимся на Луну и Марс</h3>
            </div>

            <div class="advantages_wrap_cont">
              <img src="{% static 'index/section_one/icon_4.png' %}" alt="" width="64">
              <h3 class="advantages_wrap_wrap_text">Золотая медаль по научным исследованиям</h3>
            </div>
          </div>
        </div>

        <div class="section_one_image_container">
          <img src="{% static 'index/section_one/image.jpeg' %}" alt="">
        </div>
      </div>
    </div>
  </section>

  <section class="section_two" id="section2">
    <h2>Фотографии</h2>

    <div class="slider-for">
      {% for slider in sliders %}
      <div class="section_two_image_container">
        <a class="section_two_image_container" href="{{ slider.image.url }}" data-lightbox="gallery"
          data-title="{{ slider.title }}">
          <img src="{{ slider.image.url }}" alt="{{ slider.title }}">
        </a>
      </div>
      {% endfor %}
    </div>

    <div class="slider-nav">
      {% for slider in sliders %}
      <div class="slider-nav-imag">
        <img class="my_img" src="{{ slider.image.url }}" alt="{{ slider.title }}">
      </div>
      {% endfor %}
    </div>
  </section>

  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="{% static 'index/slick/slick.min.js' %}"></script>

  <script type="text/javascript">
    // Пришлось вынести в переменные птому что ругался Django
    var leftArrow = "{% static 'index/arrows/left-arrow.png' %}";
    var rightArrow = "{% static 'index/arrows/right-arrow.png' %}";

    // слайдер для отображения картинок
    $('.slider-for').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: false,
      fade: true,
      asNavFor: '.slider-nav'
    });

    $('.slider-nav').slick({
      slidesToShow: 5,
      slidesToScroll: 1,
      arrows: true,
      prevArrow: '<button class="slick-prev" aria-label="Previous"><img src="' + leftArrow + '" alt="Previous"></button>',
      nextArrow: '<button class="slick-next" aria-label="Next"><img src="' + rightArrow + '" alt="Next"></button>',
      asNavFor: '.slider-for',
      dots: false,
      centerMode: false,
      focusOnSelect: true,
    });

    // Делает кнопку меню в мобильном режиме активной
    function toggleMenu() {
      const menu = document.getElementById('mobile-menu-links');
      const logo = document.getElementById('logo');
      if (menu.style.display === 'none' || menu.style.display === '') {
        menu.style.display = 'block';
        logo.style.display = 'none';
      } else {
        menu.style.display = 'none';
        logo.style.display = 'block';
      }
    }

    // Вносит правки в стиль
    function handleResize() {
      const menu = document.getElementById('mobile-menu-links');
      const logo = document.getElementById('logo');
      const windowWidth = window.innerWidth;

      if (windowWidth > 701) {
        menu.style.display = 'flex';
        logo.style.display = 'block';
      } else {
        menu.style.display = 'none';
        logo.style.display = 'block';
      }
    }

    // При изменении размера окна выполняет функцию
    window.addEventListener('resize', handleResize); 
  </script>
</body>

</html>