html {
    scroll-behavior: smooth;
}

body {
    background-color: #fafafa;
    margin: 0;
    padding: 0;
}

body>* {
    margin: 0;
}

header {
    height: 90px;
    background-color: #0A121E;
    width: 100%;
}

h1 {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 56px;
    line-height: 68.26px;
}

h2 {
    margin: 0;
    font-size: 42px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    line-height: 52px;
}

h3 {
    margin: 0;
    font-size: 14px;
    line-height: 26px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

p {
    font-size: 18px;
    line-height: 30px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

button {
    width: 88px;
    height: 44px;
    border-radius: 4px;
    padding: 12px 18px;
    color: #fafafa;
    background-color: #FF342B;
    margin: 0;
    font-size: 16px;
    line-height: 19.5px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-right: 20px;
}

.flex_logo {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
    margin: 0;
}

.section_one {
    padding: 90px 0;
    gap: 90px;
}

.logo {
    width: 120px;
    height: 90px;
    display: block;
    margin-left: 20px;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section_one_flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hamburger {
    display: none;
    /* Скрываем по умолчанию */
    font-size: 30px;
    /* Размер шрифта */
    cursor: pointer;
    /* Указываем, что это интерактивный элемент */
    color: #FF342B;
}

.section_one_text_block {
    text-align: center;
    width: 751px;
    height: 188px;
}

.section_one_image_block {
    max-width: 1140px;
    max-height: 457px;
    gap: 127px;
    align-items: center;
}

.section_one_image_container {
    width: 457px;
    height: 457px;
    overflow: hidden;
    border-radius: 40px;
    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.5);
}

.section_one_image_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section_one_advantages_container {
    max-width: 556px;
    max-height: 420px;
}

.advantages_wrap_cont {
    width: 263px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.advantages_wrap_cont>h3 {
    text-align: center;
}

.advantages_wrap_wrap_text {
    width: 203px;
    height: 52px;
}

.button_title {
    font-size: 16px;
}

.flex_container {
    margin: 0 auto;
    display: flex;
}

.flex_header {
    align-items: center;
    justify-content: center;
    max-width: 1140px;
}

.header_menu {
    gap: 45px;
}

.header_menu>* {
    text-decoration: none;
    color: #fafafa;
    margin: 0;
    font-size: 16px;
    line-height: 19.5px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.section_two {
    background-color: #3C3C3C;
    height: 802px;
    padding: 90px 0 0 0;
}

.section_two h2 {
    color: #fafafa;
    text-align: center;
    margin-bottom: 45px;
}

.section_two div {
    margin-bottom: 40px;
}

/* задаю размеры для слайдеров */
.slider-for {
    width: 750px;
    height: 420px;
    margin: 0px auto;
    border-radius: 40px;
    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.5);
}

.slider-nav {
    width: 900px;
    margin: 0 auto;
}

/* обрезаю главное изображение и масштабирую для заполнения */
.section_two_image_container {
    width: 750px;
    height: 420px;
    overflow: hidden;
    border-radius: 40px;
}

.section_two_image_container>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* масштабирую изображения маленьких слайдов и убираю лишнее */
/* задаю радиус и расстояние между изображениями */
.slider-nav-imag {
    width: 160px;
    height: 160px;
    margin: 0 20px 0 0;
    overflow: hidden;
    border-radius: 40px;
}

.slider-nav-imag>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* удаляю старые стрелки */
.slick-next:before {
    font-size: 0;
}

.slick-prev:before {
    font-size: 0;
}

/* настраиваю положение новых стрелок */
.slick-prev {
    left: -67px;
    top: 65px;
}

.slick-next {
    right: -30px;
    top: 65px;
}

/* Настройка размеров изображений новых стрелок */
.slick-prev img,
.slick-next img {
    width: 56px;
    height: 56px;
    object-fit: contain;
}

/* Эффект при наведении */
.slick-prev:hover img,
.slick-next:hover img {
    opacity: 0.8;
}

@media (max-width: 700px) {
    h1 {
    font-size: 36px;
    /* Уменьшаем размер заголовка для мобильных */
    line-height: 43.88px;
    }

    h2 {
    font-size: 28px;
    /* Уменьшаем размер заголовка для мобильных */
    }

    p {
    font-size: 16px;
    /* Уменьшаем размер текста для мобильных */
    }

    .hamburger {
    display: block;
    /* Скрываем по умолчанию */
    margin: 0 15px 0 0;
    }

    .logo {
    width: 80px;
    height: 60px;
    margin: 0;
    }

    header {
    height: 70px;
    }

    button {
    margin-right: 20px;
    }

    .flex_logo {
    margin-left: 20px;
    }

    .flex_header {
    height: 70px;
    align-items: center;
    justify-content: space-between;
    max-width: 700px;
    }

    .header_menu {
    display: none;
    gap: 20px;
    }

    .header_menu>* {
    margin-right: 20px;
    }

    .section_one_text_block {
    text-align: center;
    width: auto;
    min-width: 340px;
    height: auto;
    max-height: 313px;
    }

    .section_one_image_block {
    flex-direction: column;
    /* Меняем направление для мобильных */
    max-width: 340px;
    max-height: 779px;
    gap: 45px;
    }

    .section_one_image_container {
    width: 340px;
    height: 340px;
    overflow: hidden;
    border-radius: 40px;
    }

    .section_one_image_container>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    }

    .section_one_advantages_container {
    max-width: 340px;
    max-height: 394px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    }

    .advantages_wrap_cont {
    width: 165px;
    height: 182px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    .advantages_wrap_cont>h3 {
    text-align: center;
    }

    .advantages_wrap_wrap_text {
    width: 145px;
    height: 78px;
    }

    .gap_20 {
    gap: 20px;
    }

    /* второй блок */
    .section_two {
    height: 640px;
    padding: 50px 0 0 0;
    overflow: hidden;
    }

    .section_two h2 {
    color: #fafafa;
    text-align: center;
    margin-bottom: 40px;
    }

    .section_two div {
    margin-bottom: 35px;
    }

    /* задаю размеры для слайдеров */
    .slider-for {
    width: 340px;
    height: 340px;
    margin: 0px auto;
    border-radius: 40px;
    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.5);
    }

    .slider-nav {
    width: 440px;
    margin: 0 auto;
    }


    /* обрезаю главное изображение и масштабирую для заполнения */
    .section_two_image_container {
    width: 340px;
    height: 340px;
    overflow: hidden;
    border-radius: 40px;
    }

    .section_two_image_container>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    }

    /* масштабирую изображения маленьких слайдов и убираю лишнее */
    /* задаю радиус и расстояние между изображениями */
    .slider-nav-imag {
    width: 80px;
    height: 80px;
    margin: 0 10px 0 0;
    overflow: hidden;
    border-radius: 20px;
    }

    .slider-nav-imag>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    }

    /* удаляю все стрелки */
    .slick-prev img,
    .slick-next img {
    width: 0;
    height: 0;
    }
}